.temp::before {
    content: '';
    border-right: 6px solid #000;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
    right: 47px;
    top: 5px;
}